.container {
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section--primary {
  display: flex;
  gap: 10px;
}

.character__class {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header--primary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header--secondary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
